<header>

    <nav class="navbar navbar-dark bg-dark justify-content-between">
        <a [routerLink]="['/home']" class="navbar-brand">SPEEDYRICH</a>

        <a href="#" class="form-inline">
            <button class="btn btn-outline-light my-2 my-sm-0">Volver al inicio</button>
        </a>
    </nav>


    <h1>¡SOLICITUD EXITOSA!</h1>
    <label>{{resultado}}</label>
    <P>recuerda que con tu numero de DNI y la clave facilitada en el formulario, ya puedes acceder a tu espacio cliente.
    </P>